<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCSft1O2jtK1TWAE3ukRVXr_6eqkefNSf8</string>
	<key>GCM_SENDER_ID</key>
	<string>135394790224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fasum.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fasum-app-2d521</string>
	<key>STORAGE_BUCKET</key>
	<string>fasum-app-2d521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135394790224:ios:42402c1bdbbd61a48b3a55</string>
</dict>
</plist>